{% extends 'base.html' %}
{% block title %} Change password {% endblock %}

{%  block content %}
<h1>Change-Password Page</h1>
<hr>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="text-center alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %} 
        <div class="mb-3">
            <label for="password1" class="form-label">New Password</label>
            <input type="password" name='password1' class="form-control" id="password1" placeholder="Enter new password..."> 
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" name="password2" class="form-control" id="password2" placeholder="Re-enter the new password..."> 
        </div>
        <div class="mb-3"> 
            <input type="submit" class="form-control btn btn-success" value="Change Password"  > 
        </div>
    </form> 
    <p><a href="{% url 'login' %}">Login here</p>
{% endblock %}